input::-ms-reveal {
  display: none;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  display: none !important;
}

input::-ms-clear {
  display: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}